*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    text-align: center;
}

header{
    background-color: rgb(70, 1, 1);
    width:100vw;
    height:20vh;
    display: flex;
    justify-content: space-around;
    font-size: 48pt;
}

h2{
    font-size: 44pt;
    padding-top:1vh;
    margin-bottom: 5vh;
}
h3{
    color: black;
    width:100vw;
    background-color: rgb(70, 1, 1);
    font-size: 40pt;
    margin-bottom: 2vh;
}
h4{
    font-size: 36pt;
    padding-top: 1vh;
}
p{
    font-size: 24pt;
    padding-top: 1vh;
}

.card{
    display:flex;
    margin-bottom: 5vh;
}

img{
    object-fit:cover;
    width:800px;
    height:500px;
}