*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    text-align: center;
}

header{
    background-color: rgb(70, 1, 1);
    height:20vh;
    display: flex;
    justify-content: space-around;
    font-size: 48pt;
}


h2{
    font-size: 44pt;
    padding:10vh 0vw;
    width:80vw;
    
    animation: glow 1s ease-in-out infinite alternate;
    margin:10vh 10vw;
    border-radius: 10px;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b9b9b9, 0 0 40px #b9b9b9, 0 0 50px #b9b9b9, 0 0 60px #b9b9b9, 0 0 70px #b9b9b9;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #b9b9b9, 0 0 40px #b9b9b9, 0 0 50px #b9b9b9, 0 0 60px #b9b9b9, 0 0 70px #b9b9b9, 0 0 80px #b9b9b9;
    }
  }

h3{
    color: black;
    background-color: rgb(70, 1, 1);
    font-size: 40pt;
    margin-bottom: 2vh;
    padding: 5vh 0vw;
}
h4{
    font-size: 36pt;
    padding-top: 1vh;
}
p{
    font-size: 24pt;
    padding-top: 1vh;
}

.card{
    display:flex;
    margin: 5vh 1vw;
}
.card div{
    padding: 1vh 2vw;
}

img{
    object-fit:cover;
    width:800px;
    height:500px;
    border-radius: 10px;
}